@font-face {
    font-family: bahnschrift;
    src: url(fonts/BAHNSCHRIFT\ 10.TTF);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 12px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 100vw;
}

::selection {
    background-color: rgb(192, 152, 165, 0.5);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}
a:hover {
    color: rgb(255, 255, 255, 1.0);
}
a.a_text {
    width: fit-content;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(160deg, #000000, #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    transition: opacity 1000ms ease;
}

div.background {
    width: 100%;
    height: 100%;
    position: absolute;
}
div.backgroundcolor_purple {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(160deg, #372229, #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    opacity: 100%;
    transition: opacity 500ms ease;
}
div.backgroundcolor_blue {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(160deg, #0f083c, #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    opacity: 0%;
    transition: opacity 500ms ease;
}
div.backgroundcolor_black {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(160deg, #000000, #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    opacity: 0%;
    transition: opacity 500ms ease;
}
div.backgroundcolor_green {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(160deg, rgb(1, 34, 1), #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    opacity: 0%;
    transition: opacity 500ms ease;
}
div.purplehexbackground {
    background-image: url(img/Backgrounds/HexPurpBg.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 30%;
}
div.blackhexbackground {
    background-image: url(img/Backgrounds/HexBlackBg.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0%;
    transition: opacity 500ms ease;
}

div.container_all {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-image: linear-gradient(160deg, #000000, #000000);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 1);
    transition: opacity 1000ms ease;
}

div.container_main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    transition: all 1000ms ease;
}

div.container_header {
    width: 70%;
    max-width: 1100px;
    height: 40px;
    top: -100px;
    z-index: 2;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: opacity 1600ms ease, top 1600ms ease;
}
@media (max-width: 1000px) {
    div.container_header {
        width: 95%;
    }
}

div.button_sidebar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
img.button_sidebar_img {
    height: 80%;
    -webkit-user-drag: none;
    filter: drop-shadow(3px 3px 3px black);
    opacity: 90%;
    transition: all 50ms ease;
}
img.button_sidebar_img:hover {
    opacity: 100%;
}
img.button_sidebar_img:active {
    height: 60%;
}
@media (max-width: 1000px) {
    div.button_sidebar {
        display: flex;
    }  
}

div.home_button {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
img.home_icon {
    height: 90%;
    -webkit-user-drag: none;
    filter: drop-shadow(3px 3px 3px black);
    transition: height 50ms ease;
}
img.home_icon:active {
    height: 70%;
}
div.home_button:hover ~ #home_name {
    font-size: 18px;
    margin-right: 15px;
}
p.home_name {
    width: fit-content;
    position: relative;
    color: #FFC600;
    font-family: bahnschrift;
    font-size: 0px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    cursor: default;
    user-select: none;
    transition: font-size 300ms ease, margin 300ms ease;
}
.home_name:hover {
    font-size: 18px;
    margin-right: 15px;
}
a.header_contents_jump {
    margin-right: auto;
}
p.header_contents {
    position: relative;
    color: #FFC600;
    font-family: bahnschrift;
    font-size: 18px;
    text-shadow: 3px 3px 3px black;
}
div.header_contacts {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    text-shadow: 3px 3px 3px black;
}
div.header_contacts:hover img.button_contacts_expand {
    width: 20px;
    padding: 2.5px;
}
img.button_contacts_expand {
    width: 0px;
    margin-left: 20px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: rgba(78, 50, 59, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-user-drag: none;
    opacity: 60%;
    transition: opacity 300ms ease, width 300ms ease, padding 300ms ease, rotate 1000ms ease;
}
img.button_contacts_expand:hover {
    opacity: 100%;
    background-color: rgba(106, 93, 97, 0.3);
}
@media (max-width: 1300px) {
    img.button_contacts_expand {
        display: none;
    }
}
div.button_contacts {
    height: 30px;
    width: fit-content;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    opacity: 70%;

    &:nth-of-type(1) {
        margin-left: 15px;
    }
}
div.button_contacts:hover {
    opacity: 100%;
}
a.button_contacts_hyperlink {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.button_contacts_full_link {
    margin-left: 0px;
    color: #FFC600;
    font-family: bahnschrift;
    font-size: 0px;
    cursor: copy;
    opacity: 0;
    transition: width 500ms ease, height 500ms ease, font-size 500ms ease, opacity 500ms ease;
}
p.button_contacts_full_link::after {
    width: 25%;
    margin-top: 0px;
    margin-left: -30px;
    position: absolute;
    content: '';
    color: white;
    font-size: 0px;
    text-align: center;
    opacity: 0%;
    transition: all 200ms ease;
}
p.button_contacts_full_link:hover::after {
    margin-top: 25px;
    margin-left: -100px;
    position: absolute;
    content: '^ Click to copy!';
    color: white;
    font-size: 14px;
    opacity: 40%;
}
p.button_contacts_full_link:active::after {
    position: absolute;
    content: '^ Copied!';
    color: white;
    opacity: 80%;
}
@media (max-width: 1300px) {
    p.button_contacts_full_link {
        display: none;
    }
}
img.button_contacts {
    height: 90%;
    box-sizing: border-box;
    -webkit-user-drag: none;
    filter: drop-shadow(5px 5px 5px black);
    transition: height 50ms ease;
}
img.button_contacts:active {
    height: 70%;
}
p.text_contacts {
    color: #FFC600;
    font-family: bahnschrift;
    font-weight: bold;
    font-size: 18px;
    
}
@media (max-width: 500px) {
    div.container_header {
        width: 95%;
    }
    div.button_sidebar {
        height: 30px;
        margin-right: -5px;
    }
    div.home_button {
        height: 35px;
        margin-right: 5px;
    }
    div.button_contacts {
        height: 25px;
    }
    p.home_name {
        display: none;
    }
    p.header_contents {
        font-size: 16px;
    }
    div.button_contacts {
        margin-left: 10px;
    }
}
@media (max-width: 380px) {
    p.header_contents {
        max-width: 90px;
    }
}
@media (max-width: 350px) {
    p.header_contents {
        max-width: 90px;
    }
    div.button_sidebar {
        height: 26px;
        margin-right: 0px;
    }
    div.home_button {
        height: 32px;
        margin-right: 2px;
    }
    p.header_contents {
        font-size: 14px;
    }
    div.button_contacts {
        margin-left: 5px;
    }
}
@media (max-width: 300px) {
    div.home_button {
        display: none;
    }
}

div.contents_bar {
    width: 0px;
    z-index: 1;
    height: 0px;
    top: 50px;
    position: relative;
    display: none;
    flex-direction: column;
    opacity: 0%;
    transition: all 1600ms ease; 
}
@media (max-width: 1300px) {
    div.contents_bar {
        right: -50px;
    }
}

div.button_contents {
    width: 100%;
    height: 17%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 25%;
    transition: background-color 200ms ease;
    filter: drop-shadow(5px 5px 5px black);
}
div.button_contents:hover {
    background-color: white;
}
a.button_contents_jump {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.button_contents {
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
    -webkit-user-drag: none;
    border-radius: 25px;
    transition: height 100ms ease;
}
img.button_contents:active {
    height: 90%;
}
a.button_contents_jump_clicked {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
img.button_contents_img_clicked {
    height: 100%;
    padding: 5%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 25px;
    -webkit-user-drag: none;
    transition: height 100ms ease;
}
img.button_contents_img_clicked:active {
    height: 90%;
}
@media (max-height : 550px) {
    div.contents_bar {
        top: 10%;
    }
    div.contents_bar {
        display: none;
    }
    div.button_sidebar {
        display: none;
    }
}

#button_contents_edexp:hover div.edexp_sub_bar {
    opacity: 100%;
    width: fit-content;
}
div.edexp_sub_bar {
    width: fit-content;
    height: fit-content;
    left: 105%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0%;
    transition: opacity 500ms ease, width 500ms ease;
}
div.edexp_sub_buttons {
    width: 100%;
    height: fit-content;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(83, 81, 89, 0.3);
}
div.edexp_sub_buttons:hover {
    background-color: white;
}
a.edexp_sub_buttons_links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
#button_contents_edexp:hover p.edexp_sub_buttons_text {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}
p.edexp_sub_buttons_text {
    color: white;
    font-family: bahnschrift;
    font-size: 0px;
    font-weight: bold;
    transition: font-size 500ms ease, padding 500ms ease;
}
div.edexp_sub_buttons:hover p.edexp_sub_buttons_text {
    color: black;
}

div.maincontents {
    width: 700px;
    height: 660px;
    top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-y: hidden;
    border-radius: 20px;
    transition: all 1300ms ease;
}
div.bodysection {
    width: 100%;
    height: fit-content;
    position: relative;
    display: none;
    justify-content: center;
    align-items: start;
    scroll-snap-align: start;
    opacity: 0%;
    transition: all 2000ms ease;

    &:nth-of-type(1){
        height: 100%;
        max-height: 660px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        opacity: 100%;
    }

    &:nth-of-type(2){
        flex-direction: column;
    }

    @media (max-width: 1100px) {
        &:nth-of-type(1) {
            height: fit-content;
            min-height: 100%;
            max-height: none;
        }
    }
    @media (max-height: 600px) {
        &:nth-of-type(1) {
            height: fit-content;
            max-height: none;
        }
    }
}

div.about {
    width: 85%;
    height: fit-content;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    border-radius: 20px;
    transition: all 500ms ease;
}
@media (max-width: 900px) {
    div.about {
        margin-right: 0px;
    }
}
div.about_banner {
    width: 75%;
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    transition: width 1000ms ease, background-color 200ms ease, margin-right 1000ms ease;
}
div.about_banner:hover {
    background-color: rgba(78, 50, 59, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 350px) {
    div.maincontents {
        top: 15px;
        overflow-y: auto;
    }
    div.about_banner {
        width: 85%;
    }
}
p.banner_hello {
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    font-family: bahnschrift;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
    transition: all 2000ms ease;
}
p.banner_name {
    margin-top: 10px;
    position: relative;
    color: lightgreen;
    font-family: bahnschrift;
    font-size: 40px;
    text-shadow: 3px 3px 3px black;
    transition: all 2000ms ease;
}
p.banner_sub {
    margin-top: 10px;
    max-width: 100%;;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    font-family: bahnschrift;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
    opacity: 100%;
    transition: all 2000ms ease;
}
p.about_text {
    position: relative;
    padding: 0px;
    color: rgb(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 0px;
    line-height: 0%;
    text-align: justify;
    text-shadow: 3px 3px 3px black;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 200ms ease, opacity 2000ms ease, margin 2000ms ease, padding 2000ms ease, font-size 2000ms ease, line-height 2000ms ease;
}
p.about_text:hover {
    background-color: rgba(78, 50, 59, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
p.about_expand {
    width: 0px;
    height: 0px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-family: bahnschrift;
    font-size: 0px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    box-sizing: content-box;
    background-color: rgba(78, 50, 59, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    opacity: 0%;
    transition: opacity 1000ms ease, background-color 300ms ease, color 300ms ease, font-size 1000ms ease, margin 1000ms ease, width 1000ms ease, height 1000ms ease;
}
p.about_expand:hover {
    color: white;
    background-color: rgba(78, 50, 59, 0.6);
}
p.about_expand:active {
    width: 30px;
    height: 30px;
    font-size: 25px;
}
@media (max-width: 500px) {
    div.about {
        width: 90%;
    }
    p.banner_hello {
        margin-top: 5px;
        font-size: 25px;
    }
    p.banner_name {
        margin-top: 5px;
        font-size: 30px;
    }
    p.banner_sub {
        margin-top: 5px;
        font-size: 16px;
    }
}
@media (max-height: 600px) {
    div.maincontents {
        height: fit-content;
        max-height: 80dvh;
        overflow-y: auto;
    }
    p.about_expand {
        margin-bottom: 0px;
    }
}

div.edexp {
    position: relative;
    width: 95%;
    margin: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
}
p.edexpheader {
    width: fit-content;
    color: lightskyblue;
    font-family: bahnschrift;
    font-weight: bold;
    font-size: 26px;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
    text-shadow: 3px 3px 3px black;
}
div.edexpcontainer {
    width: 100%;
    height: fit-content;
    margin-bottom: 0px;
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background-color 200ms ease, box-shadow 200ms ease;
}
div.edexpcontainer:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    background-color: rgba(72, 62, 124, 0.3);
}
div.edexpimgchrono {
    width: 100%;
    min-width: 125px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img.edexpimg {
    width: 90px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
p.edexpchrono {
    width: 100%;
    color: rgb(255, 255, 255, 0.5);
    font-family: bahnschrift;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}
div.edexp_content {
    width: 400%;
    padding-left: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
}
p.edexp_content_main {
    width: 100%;
    color: rgb(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    text-shadow: 3px 3px 3px black;
}
ul.edexp_content_list {
    margin-top: 5px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    text-shadow: 3px 3px 3px black;
}
div.edexpspacer {
    width: 100%;
    height: 50px;
}
@media (max-width: 700px) {
    div.edexpcontainer {
        flex-wrap: wrap;
    }
    div.edexpimgchrono {
        align-items: start;
        padding-bottom: 5px;
    }
    p.edexpchrono {
        width: fit-content;
        font-size: 12px;
    }
    div.edexp_content {
        padding-left: 0%;
    }
    p.edexp_content_main {
        font-size: 12px;
    }
    p.edexp_content_desc {
        font-size: 12px;
    }
    ul.edexp_content_list {
        font-size: 12px;
    }
}
#scrapbook_content_notice {
    margin: 15px;
    position: absolute;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    color: rgb(255, 255, 255, 0.9);
    font-family: bahnschrift;
    font-size: 16px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    border-radius: 15px;
    background-color: rgba(10, 10, 10, 0.7);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 500ms ease;
}

div.projects {
    position: relative;
    width: 95%;
    margin: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    background-color: transparent;
}
p.projectsheader {
    width: fit-content;
    color: lightcoral;
    font-family: bahnschrift;
    font-weight: bold;
    font-size: 26px;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
    text-shadow: 3px 3px 3px black;
}
div.projectscontainer {
    width: 100%;
    height: fit-content;
    margin-bottom: 0px;
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background-color 200ms ease, box-shadow 200ms ease;
}
div.projectscontainer:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    background-color: rgba(78, 50, 59, 0.2);
}
div.projectsimgchrono {
    width: 100%;
    min-width: 125px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p.projectschrono {
    width: 100%;
    color: rgb(255, 255, 255, 0.5);
    font-family: bahnschrift;
    font-size: 14px;
    line-height: 25px;
    text-shadow: 3px 3px 3px black;
}
img.projectsimg {
    width: 90px;
    height: 70px;
    object-fit: contain;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
div.projects_content {
    width: 400%;
    padding-left: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
}
p.projects_content_main {
    width: 100%;
    color: rgb(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    text-shadow: 3px 3px 3px black;
}
p.projects_content_desc {
    width: 100%;
    margin-top: 5px;
    color: rgb(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    text-shadow: 3px 3px 3px black;
}
ul.projects_content_list {
    margin-top: 0px;
    margin-left: 15px;
    display: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    line-height: 0px;
    text-shadow: 3px 3px 3px black;
    opacity: 0;
    transition: all 500ms ease;
}
li.projects_a_text {
    width: fit-content;
    padding: 0px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 200ms ease;
}
li.projects_a_text:hover {
    background-color: rgb(255, 255, 255, 0.2);
}
div.projects_list_closed {
    width: fit-content;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 14px;
    text-align: justify;
    text-shadow: 3px 3px 3px black;
    border-radius: 7px;
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 500ms ease;
}
div.projects_list_closed:hover {
    background-color: rgb(255, 255, 255, 0.2);
}
div.projectsspacer {
    width: 100%;
    height: 70px;
}
@media (max-width: 700px), (max-height: 600px) {
    div.projectscontainer {
        flex-wrap: wrap;
    }
    div.projectsimgchrono {
        align-items: start;
        padding-bottom: 5px;
    }
    p.projectschrono {
        width: fit-content;
        font-size: 12px;
    }
    div.projects_content {
        padding-left: 0%;
    }
    p.projects_content_main {
        font-size: 12px;
    }
    p.projects_content_desc {
        font-size: 12px;
    }
    ul.projects_content_list {
        font-size: 12px;
    }
}


div.scrapbook {
    width: 0px;
    height: 0dvh;
    max-height: 800px;
    margin-left: 30px;
    margin-right: 10px;
    top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y none;
    border-radius: 20px;
    opacity: 0%;
    transition: background-color 200ms ease, box-shadow 200ms ease, width 1000ms ease, height 1000ms ease, margin-left 1000ms ease, opacity 1300ms ease;
}
div.scrapbookclose {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    transition: background-color 200ms ease, box-shadow 200ms ease, width 1000ms ease, height 1000ms ease, margin-left 1000ms ease, opacity 1300ms ease;
}
div.scrapbookclose:hover {
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.3);
    background-color: rgba(78, 50, 59, 0.2);
}
div.scrapbooksection {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    margin-bottom: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x none;
    scroll-snap-align: start;
    border-radius: 20px;
    transition: background-color 200ms ease, box-shadow 200ms ease, width 1000ms ease, height 1000ms ease, margin-left 1000ms ease, opacity 1300ms ease;

    &:last-of-type {
        margin-bottom: 0px;
    }
}
div.scrapbooksection_inner {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    border-radius: 20px;
    transition: background-color 200ms ease, box-shadow 200ms ease, width 1000ms ease, height 1000ms ease, margin-left 1000ms ease, opacity 1300ms ease;
}
img.img_scrapbook_1 {
    max-width: 75%;
    max-height: 60%;
    position: relative;
    object-fit: contain;
    border-radius: 20px;
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 5px black);
}
p.p_scrapbook_1 {
    margin-top: 15px;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-family: bahnschrift;
    font-size: 0px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    transition: font-size 1000ms ease;
}
p.p_scrapbook_2 {
    margin-top: 5px;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: bahnschrift;
    font-size: 0px;
    font-weight: normal;
    text-shadow: 5px 5px 5px black;
    transition: font-size 1000ms ease;
}
@media (max-width: 700px) {
    img.img_scrapbook_1 {
        max-width: 60%;
        height: fit-content;
    }
}
@media (max-height: 700px) {
    img.img_scrapbook_1 {
        width: auto;
        height: auto;
        max-height: 70%;
    }
}

div.scrapbooksection:hover ~ #button_scrapbook_scroll_left {
    opacity: 0.6;
}
div.scrapbooksection:hover ~ #button_scrapbook_scroll_right {
    opacity: 0.6;
}

img.button_scrapbook_scroll_left {
    z-index: 1;
    width: 25px;
    margin: 10px;
    top: 48%;
    padding: 5px;
    align-self: self-start;
    position: fixed;
    border-radius: 100%;
    background-color: rgba(78, 50, 59, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-user-drag: none;
    opacity: 0;
    box-sizing: content-box;
    transition: opacity 500ms ease, width 300ms ease, padding 300ms ease;
}
img.button_scrapbook_scroll_left:hover {
    opacity: 1;
    background-color: rgba(106, 93, 97, 0.3);
}img.button_scrapbook_scroll_right {
    z-index: 1;
    width: 25px;
    margin: 10px;
    top: 48%;
    padding: 5px;
    align-self: self-end;
    position: fixed;
    border-radius: 100%;
    background-color: rgba(78, 50, 59, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-user-drag: none;
    opacity: 0;
    box-sizing: content-box;
    rotate: 180deg;
    transition: opacity 500ms ease, width 300ms ease, padding 300ms ease;
}
img.button_scrapbook_scroll_right:hover {
    opacity: 1;
    background-color: rgba(106, 93, 97, 0.3);
}

#blur_img_scrapbook_popup {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
}
#img_scrapbook_popup_close {
    width: 100%;
    height: 100%;
    z-index: 15;
    position: absolute;
}
#img_scrapbook_popup {
    max-width: 95%;
    max-height: 95%;
    margin: auto;
    z-index: 20;
    object-fit: contain;
    filter: drop-shadow(20px 20px 20px #000000);
}


div.container_mobile_scrapbook {
    width: 90%;
    height: 100%;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    border-radius: 20px;
    transition: all 1000ms ease;
}

#container_mobile_scrapbook_jump {
    width: 30px;
    height: 30px;
    left: 0%;
    bottom: 5%;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-drag: none;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: rgba(78, 50, 59, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    opacity: 60%;
    transition: opacity 300ms ease, width 300ms ease, padding 300ms ease, left 300ms ease, rotate 1000ms ease;
}
#container_mobile_scrapbook_jump_img {
    width: 80%;
    rotate: 180deg;
    transition: opacity 300ms ease, width 300ms ease, padding 300ms ease, left 300ms ease, rotate 1000ms ease;   
}